<div class="row">
    <div class="col-12">
        <h1>Login</h1>

        <form action="Login" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" name="email">

            </div>
        </form>
    </div>
</div>